
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,900&display=swap');

.barraP{
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
}
.Home img{
  margin-top: 50px;
  width: 100%;
}
.container a{
  color: #000000;
}
h1{
  text-align: center;
  color: aliceblue;
}
.roupas{
  margin: 10px 0 10px 0;
  padding: 25px;
  background-image: linear-gradient(to top, #5C0E5C, #140314);
}
.row{
  width: 100%;
}
.col1{
  margin-left: 20px;
}
.btn{
  width: 100%;
  background-color: green;
}
.card img{
  width: 100%;
  height: 350px;
}
.card{
  position: static;
  background-color: transparent;
  color: aliceblue;
}
.produtos{
  height: 850px;
  background-color: #a779ac;
}
.contato{
  background-color: #140314;
  height: 500px;
}
  .contato h2{
    padding-left: 60px;
    padding-top: 60px;
    color: aliceblue;
  }
  .contato h3{
    padding-left: 60px;
    padding-top: 20px;
    color: aliceblue;
  }