:root{
    --prim: #791979;
    --second: #9b429a;
    --tri: #bc6abc;
    --for: #de93dd;
    --five: #ffbcff;
    --extra: #ffc2ff;
    --tras:#231127;
}
body{
    background-color: var(--extra);
}
.barraP{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: aliceblue;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
    margin-bottom:10px ;
    
}
.card{
    justify-content:center ;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
}
h1{
    text-align: center;
    color: #de93dd;
}
.card img{
    height: 300px;
    width: 100%;
}